{{ define "main" }}
  {{ $pageTitle := .Title }}
  {{ $pageTitle = split $pageTitle ":" }}
  {{ $pageTitle := index $pageTitle 0 }}
  <h1>{{ $pageTitle }}</h1>

  {{ $folder := .Params.monsterFolder }}
  {{ $path := printf "assets/%s" $folder }}
  {{ $files := readDir $path }}
  {{ $monsters := slice }}

  {{ range $files }}
    {{ $filepath := printf "%s/%s" $path .Name }}
    {{ $content := readFile $filepath | markdownify }}

    {{ $monsterFile := readFile $filepath }}
    {{ $lines := split $monsterFile "\n" }}

    {{ $firstHeader := index $lines 0 }}
    {{ $firstHeader := strings.TrimPrefix "# " $firstHeader  }}


    {{ $monster := dict "content" $content "header" $firstHeader }}
    {{ $monsters = append $monster $monsters }}
  {{ end }}

  <ul>
    {{ range $monsters }}
      <li><a href="#{{ anchorize .header }}">{{ .header }}</a></li>
    {{ end }}
  </ul>


  {{ range $monsters }}
  {{ .content | safeHTML }}
  {{ end }}

{{ end }}
